.about-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  text-align: justify;
  justify-content: center;
  padding: 15px;
}
.about-container h2 {
  text-align: center;
}
.about-container ul {
  text-align: center;
}

.top-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.been-there-card {
  background: #EEE9DA;
  color: #6096b4;
  font-weight: bold;
  line-height: 1.6;
}

.future-card {
  background: #6096b4;
  color: #EEE9DA;
}

.lower-card {
  padding: 90px;
  line-height: 1.5;
  background: #EEE9DA;
  color: #6096b4;
  font-weight: bold;
}

.lower-card h5 {
  margin-top: 10px;
  font-size: 1rem;
}

.button {
  margin-top: 15px;
  text-align: center;
  background: #EEE9DA;
  padding: 20px;
}

.btn {
  padding: 10px;
}

@media only screen and (max-width: 900px) {
  .future-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.9rem;
  }
}


@media only screen and (max-width: 720px) {
  .about-container {
    font-size: .9rem;
  }

  .top-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .lower-card {
    padding: 25px;
  }
}


@media only screen and (max-width: 420px) {
  .about-container {
    font-size: .8rem;
  }
  .about-container h2 {
    font-size: .9rem;
  }
}