.post-container img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19px;
  text-align: center;
  padding: 25px;
  background: #f2f2f2;
}

.post-container h2 {
  text-decoration: underline 2px solid #000;
}

.posts {
  padding: 20px;
  margin: 15px;
  background: #6096b4;
  box-shadow: 3px 3px #000;
  border-radius: 23px;
  color: #f2f2f2;
}


/*Show more post*/

.two-posts {
  display: none;
}


.two-posts h2 {
  text-align: center;
}

.post-left h2 a {
  text-align: center;
}

.post-left, .post-right {
  margin: 20px;
  padding: 25px;
  text-align: justify;
}

.post-left img, .post-right img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.show-more-btn {
  text-align: center;
  margin-top: 10px;
}
@media only screen and (max-width: 980px) {
  .post-container {
    grid-template-columns: 1fr;
  }

  .post-container h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 720px) {
 .post-container img {
  height: 250px;
 }

 .post-container h2 {
  font-size: 1rem;
  margin-bottom: 5px;
 }
}
@media only screen and (max-width: 420px) {

}